html
  head
    meta(charset='UTF-8')
    link(href='/css/mainstyle.css?var=2', type='text/css', rel='stylesheet')
    link(href='/css/portfolio_userstorystyle.css?var=1', type='text/css', rel='stylesheet')
    script(type='text/javascript').
      function mySubmit(){
        document.abilityForm.action='/story/submit';
        document.abilityForm.submit();
      }
    title userstory
  body(onload='setProjectIndex()')
    .top
      // ppl logo
      a(href='/')
        img#ppl_home(src='/icon/ppl_logo.png', alt='ppl')
      if user && user.id  
        .login_complete
          img#profileicon(src='../icon/mainpage_profileicon.png', alt='profile')
          a(href='/mypage')= user.name +'님'
          |             &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href='/mypage') 설정
          |             &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href='/auth/logout') 로그아웃
          //- 디자인 요청!!!
      else
        .login
          a(href='/auth') 로그인 / 회원가입
    // 메뉴바
    ul.mainmenu
      li#searchmenu.menu
        a(href='/search') SEARCH
      li#portfoliiomenu.menu
        a(href='/make') PORTFOLIO
      li#productmenu.menu
        a(href='/product') PRODUCT
    .side
      h1 2. 사용자 스토리
    .contents
      p.contents_header 개인 역량
      .ability
        form(method='post', name='abilityForm')
          table.develop_field
            tbody
              tr
                th.table_header(colspan='5')  개발 분야 
              tr
                th
                  input#android(type='checkbox', name='dev_field', value='android')
                  label(for='android') Android
                th
                  input#ios(type='checkbox', name='dev_field', value='ios')
                  label(for='ios') iOS
                th
                  input#web(type='checkbox', name='dev_field', value='web')
                  label(for='web') Web
                th
                  input#server(type='checkbox', name='dev_field', value='server')
                  label(for='server') Server
                th
                  input#another_df(type='checkbox', name='dev_field', value='another')
                  label(for='another_df') 그 외
                  input#another_df_(type='text', placeholder='입력하세요...' name='another_devF')
          table.specific_field
            tbody
              tr
                th.table_header(colspan='5')  전문 분야 
              tr.develop_filed_firstcol
                th
                  input#secure(type='checkbox', name='spe_field', value='secure')
                  label(for='secure') 보안
                th
                  input#iot(type='checkbox', name='spe_field', value='iot')
                  label(for='iot') IoT
                th
                  input#ai(type='checkbox', name='spe_field', value='ai')
                  label(for='ai') 인공지능
                th
                  input#bigdata(type='checkbox', name='spe_field', value='bigdata')
                  label(for='bigdata') 빅데이터
                th
                  input#database(type='checkbox', name='spe_field', value='database')
                  label(for='database') DB
              tr
                th
                  input#game(type='checkbox', name='spe_field', value='game')
                  label(for='game') 게임
                th
                  input#networking(type='checkbox', name='spe_field', value='networking')
                  label(for='networking') 네트워킹
                th
                  input#os(type='checkbox', name='spe_field', value='os')
                  label(for='os') 운영체제
                th(colspan='2')
                  input#another_sf(type='checkbox', name='spe_field', value='another')
                  label(for='another_sf') 그 외
                  input#another_sf_(type='text', placeholder='입력하세요...' name='another_speF')
          table.develop_language
            tbody
              tr
                th.table_header(colspan='5')  사용 가능 언어 
              tr
                th
                  input#c(type='checkbox', name='dev_lang', value='c')
                  label(for='c') C
                th
                  input(type='checkbox', name='dev_lang', value='c++', id='c++')
                  label(for='c++') C++
                th
                  input#java(type='checkbox', name='dev_lang', value='java')
                  label(for='java') Java
                th
                  input(type='checkbox', name='dev_lang', value='c#', id='c#')
                  label(for='c#') C#
                th(colspan='2')
                  input#another_dl(type='checkbox', name='dev_lang', value='another')
                  label(for='another_dl') 그 외
                  input#another_dl_(type='text', placeholder='입력하세요...' name='another_devL')
      br
      br
      hr
      .project_experience
        p.contents_header 프로젝트 경험
        form(action='/story/exp' method='post' name='projectForm')
          #project_group
            .project_form
              label(for='project_name') &#xD504;&#xB85C;&#xC81D;&#xD2B8; &#xC774;&#xB984;
              input#project_name(type='text' name='project_name')
              br
              .tomargin
                label(for='project_info', margin-top='15px') &#xD504;&#xB85C;&#xC81D;&#xD2B8; &#xC124;&#xBA85;
                textarea#project_info(name='project_info')
                br
              label(for='project_link') &#xD504;&#xB85C;&#xC81D;&#xD2B8; &#xB9C1;&#xD06C;
              input#project_link(type='text', placeholder='ex) Github 링크' name='project_link')
              br
              .tomargin
                label &#xCCA8;&#xBD80;&#xD30C;&#xC77C;
                input#img-url(name='url' type='hidden')
                input#img(type='file' accept='image/*')
                h6#project_img_ex &#xD504;&#xB85C;&#xC81D;&#xD2B8; &#xB300;&#xD45C; &#xC774;&#xBBF8;&#xC9C0;&#xB85C; &#xC0AC;&#xC6A9;&#xB420; &#xC774;&#xBBF8;&#xC9C0;&#xB97C; &#xCCA8;&#xBD80;&#xD558;&#xC138;&#xC694;.
              input.project_storebtn(type='submit', value='')
              script.
                if (document.getElementById('img')) {
                  document.getElementById('img').addEventListener('change', function(e) {
                  var formData = new FormData();
                  console.log(this, this.files);
                  formData.append('img', this.files[0]);
                  var xhr = new XMLHttpRequest();
                  xhr.onload = function() {
                    if (xhr.status == 200) {
                      var url = JSON.parse(xhr.responseText).url;
                      document.getElementById('img-url').value = url;
                    }
                    else {
                      console.error(xhr.responseText);
                    }
                  };
                  xhr.open('POST', '/story/img');
                  xhr.send(formData);
                });
                }
        #field
      .bottomnav
        a(href='/story/back')
          input.backbtn(type='button')
        input.nextbtn(type='button', value='', onclick='mySubmit()')
