html
  head
    meta(charset='UTF-8')
    link(href='/css/mainstyle.css?var=2', type='text/css', rel='stylesheet')
    link(href='/css/portfolio_recomendtempletestyle.css', type='text/css', rel='stylesheet')
    title recomendTemplete
  body
    .top
      // ppl logo
      a(href='/')
        img#ppl_home(src='/icon/ppl_logo.png', alt='ppl')
      // 로그인
      .login
        a(href='loginpage.html') 로그인 / 회원가입
    // 메뉴바
    ul.mainmenu
      li#searchmenu.menu
        a(href='searchpage.html') SEARCH
      li#portfoliiomenu.menu
        a(href='portfolio.html') PORTFOLIO
      li#productmenu.menu
        a(href='product.html') PRODUCT
    form(action='/template', method='post')
      .side
        h1 3. 템플릿 추천
      .contents
        p.contents_header 양시연님! 이런 템플릿을 추천드려요.
        #templete1
        #templete2
        br
        |                 템플릿이 마음에 안드시나요?
        a(href='')
          u 템플릿 더 보러가기>
      .bottomnav
        a(href='portfolio_userstory.html')
          input.backbtn(type='button')
        a(href='portfolio_create.html')
          input.nextbtn(type='button')
