doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(href='../css/mainstyle.css?', type='text/css', rel='stylesheet')
    link(href='../css/productstyle.css?var=2', type='text/css', rel='stylesheet')
    title Product
  body(scroll='no')
    .top
      // ppl logo
      a(href='/')
        img#ppl_home(src='../icon/ppl_logo.png', alt='ppl')
      if user && user.id  
        .login_complete
          img#profileicon(src='../icon/mainpage_profileicon.png', alt='profile')
          a(href='/mypage')= user.name +'님'
          |             &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href='/mypage') 설정
          |             &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href='/auth/logout') 로그아웃
          //- 디자인 요청!!!
      else
        .login
          a(href='/auth') 로그인 / 회원가입
    // 메뉴바
    ul.mainmenu
      li#searchmenu.menu
        a(href='/search') SEARCH
      li#portfoliiomenu.menu
        a(href='/make') PORTFOLIO
      li#productmenu.menu
        a(href='/product') PRODUCT
    .background
      h1.productphrase1 &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624; &#xC0C1;&#xD488;
      p.productphrase2
        | PPL&#xC740; &#xC0AC;&#xC6A9;&#xC790;&#xC758; &#xC2A4;&#xD1A0;&#xB9AC;&#xC5D0; &#xB531; &#xB9DE;&#xB294; &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;&#xB97C; &#xB9CC;&#xB4E4;&#xC5B4; url&#xC744; &#xD1B5;&#xD574; &#xC6F9; &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624;&#xB97C; &#xC81C;&#xACF5;&#xD569;&#xB2C8;&#xB2E4;.
        br
        |             &#xC11C;&#xBE44;&#xC2A4; &#xC81C;&#xACF5; &#xAE30;&#xAC04;&#xACFC; &#xCD94;&#xAC00;&#xC801;&#xC778; &#xAE30;&#xB2A5;&#xC744; &#xC6D0;&#xD558;&#xC2DC;&#xBA74; &#xD544;&#xC694;&#xC5D0; &#xB9DE;&#xAC8C; &#xC0C1;&#xD488;&#xC744; &#xC5C5;&#xADF8;&#xB808;&#xC774;&#xB4DC; &#xD560; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;.
      .eco
        h2.product_name &#xC5D0;&#xCF54;
        h3.product_price
          | &#xC6D4; 
          b 3,000
          |  &#x20A9;
          form(action='/product/1' method='post')
            input.selectbutton_eco(type='submit' value='')
        p.product_info
          | &#xD504;&#xB85C;&#xC81D;&#xD2B8; 2&#xAC1C;
          br
          |             &#xB3C4;&#xBA54;&#xC778; &#xC5F0;&#xACB0;
      .basic
        p#recomend_product &#xCD94;&#xCC9C; &#xC778;&#xAE30; &#xC0C1;&#xD488;
        hr
        h2.product_name &#xBCA0;&#xC774;&#xC9C1;
        h3.product_price
          | &#xC6D4; 
          b 3,500
          |  &#x20A9;
          form(action='/product/2' method='post')
            input.selectbutton_basic(type='submit' value='')
        p.product_info
          | &#xD504;&#xB85C;&#xC81D;&#xD2B8; 4&#xAC1C;
          br
          |                 &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624; &#xBCF4;&#xC720; &#xAC1C;&#xC218; 2&#xAC1C;
          br
          |                 &#xB3C4;&#xBA54;&#xC778; &#xC5F0;&#xACB0;
      .vip
        h2.product_name VIP
        h3.product_price
          | &#xC6D4; 
          b 5,000
          |  &#x20A9;
          form(action='/product/3' method='post')
            input.selectbutton_eco(type='submit' value='')
        p.product_info
          | &#xD504;&#xB85C;&#xC81D;&#xD2B8; 6&#xAC1C;
          br
          |                 &#xD3EC;&#xD2B8;&#xD3F4;&#xB9AC;&#xC624; &#xBCF4;&#xC720; &#xAC1C;&#xC218; 4&#xAC1C;
          br
          |                 &#xB3C4;&#xBA54;&#xC778; &#xC5F0;&#xACB0;
          br
          |                 &#xAD11;&#xACE0; &#xC81C;&#xAC70;
